# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Rooftops Surfers.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\samue\Desktop\Sur les Toits de Paris\Rooftops Surfers\.idea\.idea.Rooftops Surfers\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
